 /* Media Query */
 @media (min-width:1200px){
    html{
        font-size: 70%;
    }

   header{
       padding: 1rem 10rem;
   }
  
}
@media (max-width:991px){
    html{
        font-size: 60%;
    }

   header{
       padding: 1rem 2rem;
   }
   .card_container{
    
    grid-template-columns: 1fr 1fr ;
    
 }
  
}
@media (max-width:772px){
    html{
        font-size: 55%;
        overflow-x: hidden;
    }
    header{
       position: fixed;
       top: 0;left: 0;right: 0;
       background-color: #fff;
       padding: 1rem 7%;
       display: flex;
       justify-content: space-between;
       align-items: center;
       z-index: 1000;
       box-shadow: var(--box-shadow);
       
   }
    header .icon #menu_bar{
       display: inline-block;

   }
    header .icon #close_bar{
       display: block;

   }
   header .icon #close_bar.fa_times{
       display: block;
   }
   header .navbar{
       position: fixed;
       top:8%;
       right: 0;
       z-index: 999;
       left: 0;
       height: calc(100vh-80px);
       width: 100%;
       padding: 1rem;
       background-color: var(--body);
       box-shadow: var(--box-shadow);
       display: none;
       
   }
   @keyframes slideInFromLeft {
       0% {
         transform: translateY(-100%);
       }
       100% {
         transform: translateY(0);
       }
     }
   header .navbar.nav_active{
       display: block;
       animation: 1s ease-out 0s 1 slideInFromLeft;
   }
   header .navbar a{
       display: block;
       padding: 1.5rem;
       margin: 1rem;
       font-size: 2rem;
   }
   header .navbar a:hover{
       background-color: var(--red);
       color: #fff;
   }
   .project .card_container{
       grid-template-columns: 1fr 1fr;
   }
   .experience .shape{
       display: none;
   }
   .grid {
       grid-template-columns: 1fr;  
   }
   .card_container{
    
    grid-template-columns: 1fr 1fr ;
  
 }
   .skills_container{
    
    grid-template-columns: 1fr 1fr 1fr ;
  
 }
 .contact_grid{
    
    grid-template-rows: 1fr  ; 
    padding: 4em;
    
}
.contact_grid2{
     
    grid-template-columns: 1fr; 
    
}
.sec_paragraph{
    margin-bottom: .5em;
}
}

@media (max-width:583px){
   html{
       font-size: 50%;
   }
   .hero h1 {
    font-size: 2.5em;
    
}
   .hero p {
    font-size: 1em;
    
}
.sec_heading span {

    font-size: 1.8em;
    
}
.experience_card{
    width: 25em;
}
    .services .card_container{
       grid-template-columns: 1fr ;
    }
    .project .card_container{
       grid-template-columns: 1fr ;
   }
    .project_heading{
       margin-top: 10em;
      
   }
   .grid {
       grid-template-columns: 1fr;  
   }
   .card_container{
    
    grid-template-columns:  1fr ;
  
 }
 .email .card_paragraph{
     font-size: 1em;
 }
 .contact_grid{
    
    grid-template-rows: 1fr  ; 
    padding: 2em;
    
}
 .sec_paragraph{
    margin-bottom: .5em;
    font-size: 1.5em;
}
.skills_container i{
    font-size: 4em;
}
}

@media (max-width:371px){
    .up{
        position: absolute;
        height: 3em;
        width: 3em;
        top: -1rem;
        right: 2rem;
       
        
      }
    .up i{
        font-size: 10px;
        
      }
      .skills_container {
        grid-template-columns: repeat(2,1fr);
        
    }
    .skills_container i{
        font-size: 3em;
    }
}